.navbar{
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-left{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-logo{
    display: flex;
    align-items: center;
}

.nav-menu{
    display: flex;
    gap: 15px;
}

.cta-primary{
    background-color: whitesmoke;
    padding: 10px 18px;
    border-radius: 1rem;
    border: none;
}

.nav-cta{
    display: flex;
    gap: 10px;
}

.cta-secondary{
    background-color: black;
    color: white;
    padding: 10px 18px;
    border-radius: 1rem;
    border: none;
}